{% extends "test.html" %}

{%block content %}
<h1>Серия романов о Гарри Поттере</h1>
<div id="books">
    {% for book in books %}
    <div class="book">
        <strong>{{book.number}}</strong>. "<em>{{book.title}}"</em> - {{book.date}}
    </div>
    {% endfor %}
</div>
{% endblock %}